.button{
    width: 100%;
    background: darkblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
}

.button:disabled{

    background:#888;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: not-allowed;
}

.button:hover{
    transform: scale(1.05);
}