.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background: darkgray;
  padding: 30px;
}

.button-container{
  display: flex;
  min-height: 60px;
  align-items: flex-end;
}
